# See http://help.github.com/ignore-files/ for more about ignoring files.
/ui/dist

# compiled output
/dist
tmp
/out-tsc

# dependencies
node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

zk-single-kafka-single
/frontend/sqd-frontend/dist
*.log
junit.xml
localdev

.env
.run
*.env.yaml
__debug_bin
.envrc

testcover*
gen
.jasc/
testmodule

app.local.yaml
goose_db_version.go:q
internal/first/doc/*
internal/first/controller/controller_no_test.go
internal/first/cmd/__debug_bin*
# internal/first/db/dbconf.yml
.vscode/*
